<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Kat + Fern-HAIR QUIZ</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/agency.css" rel="stylesheet">
    <title>Product Suggestions</title>

  </head>
  <body  id="page-top" class="index">
      <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Kat + Fern</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/">Quizzes</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/">Our Favorite Products</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/">Team</a>
                    </li>
                    <!--<li>-->
                    <!--    <a class="page-scroll" href="#contact">Contact</a>-->
                    <!--</li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    
    <section id="services">
        <div class="container">
            <div class="row">
                <h1>Hair Quiz</h1>
                  <h2>Click on the photos that best describe your hair and hair needs</h2>
                  <form method= "POST" action= "/hair_results">
                   <h3>Is your hair wavy, curly, straight, or coily?</h3>
                   <select name="type">
                     <option value="Wavy">Wavy</option>
                     <option value="Straight">Straight</option>
                     <option value="Curly">Curly</option>
                     <option value="Coily">Coily</option>
                   </select>
                 <h1>Hair Quiz</h1>
                  <h2>Click on the photos that best describe your hair and hair needs</h2>
                 
                   
                   
                   
                   <h3>Is your hair dry, oily, or normal?</h3>
                    <select name="moisture">
                     <option value="Dry">Dry</option>
                     <option value="Oily">Oily</option>
                     <option value="Normal">Normal</option>
                     <option value="None">None</option>
                     </select>
                   <input type="submit">
                </div>
            </div>
          </section>
                 
       </form>
       
        <!--<form method= "POST" action= "/hair_results">-->
        <!--           <h3>Is your hair wavy, curly, straight, or coily?</h3>-->
        <!--             <label>-->
        <!--                 <img src="https://s-media-cache-ak0.pinimg.com/736x/a4/8b/aa/a48baabbe76ab4cc0e7da63f705b0d58.jpg">-->
        <!--                 <input type= "radio" name= "hair" value="Wavy">-->
        <!--            </label> <br>    -->
        <!--             <input type= "radio" name= "hair" value="Straight">Straight<br>-->
        <!--             <input type= "radio" name= "hair" value="Curly">Curly<br>-->
        <!--             <input type= "radio" name = "hair"value="Coily">Coily<br>-->
        <!--             <input type="submit">-->
        <!--</form>-->
  </body>
</html>