#mainNav {
    background-color: black;
}


.circle_pic {
    border-radius: 50%;
    height: 100px;
}

input[type=radio] {
    display: none;
    /*left: -9999px;*/
    /*visibility: hidden;*/
    /*position: absolute;*/
}

input[type=radio]: checked + label > img{
    border: 5px dashed red ;
}

label > input + img{
    cursor: pointer;
}